@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    background: #bbb1c6; 
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

#guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 1px solid #ccc;
}

#guess-button, #reload {
    display: block;
    margin: 0 auto 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0CBABA;
    color: #fff;
    border: none;
    border-radius: 3px;
    transition: transform 0.3s ease; /* Añadido efecto de transición */
}

#guess-button:active, #reload:active {
    transform: scale(0.95);
}

.letter {
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
    min-width: 20px;
    text-align: center;
    display: inline-block;
}

.row {
    margin-bottom: 10px;
}

.input-area {
    margin: 30px;
}

#grid {
    margin-top: 30px;
}

#Instruccion {
    width: 55%;
    margin: 10px auto; 
    background-color: #f5f5f5;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#lista {
  color: #3E363F;
  width: 50%;
  margin: 0 auto;
  background-color: #f1e8e8;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 15px;
}

#lista li {
  font-size: 16px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  #lista {
      width: 90%;
  }

  #lista li {
      font-size: 14px;
  }
}

@media (max-width: 355px) {
  #lista {
      width: 50%;
      padding: 5px;
      margin: 0 auto;
      
  }

  #lista li {
      font-size: 20px;
  }
}


.letter {
  border: 1px solid rgb(241, 249, 255);
  padding: 10px;
  margin: 5px;
  min-width: 20px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
}
