body {
    font-family: Arial, sans-serif;
  }
     
  h1 {
    text-align: center;
    margin-top: 50px;
  }
     
  #guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 1px solid #ccc;
  }
     
  #guess-button,#reload {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0CBABA;
    color: #fff;
    border: none;
    border-radius: 3px;
  }

  #reload {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0CBABA;
    color: #fff;
    border: none;
    border-radius: 3px;
  }
    
     
  button:active {
      transform: scale(0.95);
  }
     
  .letter {
      border: 1px solid black;
      padding: 3px;
      margin: 3px;
      min-width: 20px;
      text-align: center;
      display: inline-block
  }
     
  .row{
      margin-bottom: 10px;
  }
     
  .input-area{
      margin: 30px;
  }
  #grid{
    margin-top: 30px;
  }
  #Instruccion {
    width: 60%;
    margin: 50px auto; /* Añadido margen superior para separar del resto del contenido */
    background-color: #f5f5f5; /* Utilizando un tono más claro */
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombras más prominentes */
  }
  
  h1 {
    color: #333; /* Color de texto más oscuro */
  }
  
  h2 {
    color: #555; /* Color de texto un poco más oscuro */
    margin-bottom: 15px; /* Añadido espacio entre los subtítulos */
  }
  
 